{% extends "home/base.html" %}
{% block title %}
    {{title}}
{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
     <div class="event_container">
        <div class="content-section container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group px-5 event_form">
                    <legend class="border-bottom custom-border register-title mb-4">
                        {{ title }}
                    </legend>
                    {% if messages %}
                        <div id="message-container">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="event_form">
                        <div class="event_fields">
                            <div class="event-box">
                                {% for field in form %}
                                    {% if field.name in event_fields_col1 %}
                                        <div class="input-group  input-fields">
                                            {{ field|as_crispy_field }}
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="event-box event-col-2">
                                {% for field in form %}
                                    {% if field.name in event_fields_col2 %}
                                        <div class="input-group input-fields">
                                            {{ field|as_crispy_field }}
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="px-5 register_form">
                        <div class="img-form">
                            <h3>Event Images</h3>
                            {{ image_formset.management_form }}
                            {% for form in image_formset %}
                                <div class="input-group mb-3 input-fields">
                                    {{ form.image.label_tag }} {{ form.image }}
                                    {% if form.instance.pk %}
                                        <label for="{{ form.DELETE.id_for_label }}">Delete</label>
                                        {{ form.DELETE }}
                                    {% endif %}
                                    {{ form.errors }}
                                </div>
                            {% endfor %}
                            <div class="input-group  input-fields">
                                <input type="file" name="image" id="id_image" class="form-control img_input" multiple>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group form-bottom mt-5">
                    <button class="btn auth-btn" type="submit">
                        {{ button_text }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}