{% extends "home/base.html" %}
{% block title %}
    Welcome to Neighborhood
{% endblock title %}

{% block not_logged %}

    <header class="site-header not_loggedin">
        <nav class="navbar navbar-expand-lg fixed-top nav-not_loggedin">
            <a href="#" class="logo-title navbar-brand title">
                Neighbornook
            </a>

            <!-- WEATHER put here -->

            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse right_side_nav collapse-custom" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item custom-nav-item">
                        <a href="{% url 'user:login' %}" class="nav-link custom-nav-link">
                            Login
                        </a>
                    </li>

                    <li class="nav-item join-btn-nav">
                        <a href="{% url 'user:signup' %}" class="nav-link">
                            Join Now
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="header-content">
            <h1 class="header-title">
                Start your adventure and meet new friends with Neighbornook
            </h1>

            <div class="join-btn">
                <a href="{% url 'user:signup' %}" class="nav-link">
                    Join Now
                </a>
            </div>
        </div>
    </header>

    <main class="mx-5">
        <div class="description">
            <h2 class="not_loggedin_title">
                Connect with locals and make new memories
            </h2>

            <p class="not_loggedin_description">
                Discover events and activities made by your local community where you will meet new people and do fun activities together. 
                Or simply create your own event based on your interests
            </p>
        </div>

        <div class="infinite-carousel">
            <div class="carousel-inner">
                <img src="{{ MEDIA_URL }}carousel/dog-walk.jpg" alt="photo" class="infinite-img">
                <img src="{{ MEDIA_URL }}carousel/group-sun.jpg" alt="photo" class="infinite-img">
                <img src="{{ MEDIA_URL }}carousel/group-out.jpg" alt="photo" class="infinite-img">
                <img src="{{ MEDIA_URL }}carousel/group-in.jpg" alt="photo" class="infinite-img">
                <img src="{{ MEDIA_URL }}carousel/group-night.jpg" alt="photo" class="infinite-img">
                <img src="{{ MEDIA_URL }}carousel/hiking.jpg" alt="photo" class="infinite-img">
                <img src="{{ MEDIA_URL }}carousel/yoga.jpg" alt="photo" class="infinite-img">
            </div>
        </div>

        <div>

            <h2 class="connections-title">
                Get connected to
            </h2>

            <div class="connections">
                <div class="card custom-card">
                    <div class="card-body">
                        <i class="fa-solid fa-user-group"></i>
                        <h5 class="card-title">People</h5>
                        <p class="card-text">Young professionals seeking meaningful connections with like-minded individuals</p>
                    </div>
                </div>

                <div class="card custom-card">
                    <div class="card-body">
                        <i class="fa-solid fa-people-group"></i>
                        <h5 class="card-title">Groups</h5>
                        <p class="card-text">Curated communities to stay connected with soulmates</p>
                    </div>
                </div>

                <div class="card custom-card">
                    <div class="card-body">
                        <i class="fa-solid fa-cloud-sun"></i>
                        <h5 class="card-title">Activities</h5>
                        <p class="card-text">Explore and join activities organized by our community</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock not_logged %}