{% extends "home/base.html" %}
{% block not_logged %}
    <div class="main_not_loggedin_login">
        <div class="logout-section">
            <h2 class="logout-title px-5 border-bottom custom-border">
                You have been logged out
            </h2>

            <div class="pt-3 mt-0 sign_again">
                <div>
                    Login again <a href="{% url 'user:login' %}">Sign In</a>
                </div>
            </div>
        </div>
    </div>
{% endblock not_logged %}