{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block not_logged %}
    <div class="content-section main_not_loggedin_login">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom custom-border register-title mb-4">
                        Reset Password
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group btn-container-reset">
                    <button class="btn auth-btn" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock not_logged %}