{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="profile_update">
        <div class="content-section container">
            <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group px-5">
                        <legend class="border-bottom custom-border register-title mb-4">
                            Profile Info
                        </legend>

                        <div class="px-5 register_form">
                            {{ user_form|crispy }}
                            {{ profile_form|crispy }}
                        </div>
                    </fieldset>

                    <div class="form-group form-bottom">
                        <button class="btn auth-btn" type="submit">
                            Update
                        </button>
                    </div>
            </form>
        </div>
    </div>
{% endblock content %}